{% extends "base.html" %}
{% block content %}
{% if first %}
    <div class="hero-unit faq">
        <div class="ac">
            <h2><a href="{{first.link}}">{{first.title}}</a></h2>
        </div>
    </div>

    <div class="post firstpost">
        {{first.content}}
        <div class="postmeta">
            <p class="text-muted">published on {{first.date}} by {{first.author}}</p>
        </div>
    </div>
{% endif %}

<hr />

<h3 class="subtitle">Older Posts</h3>
<ul class="postlist">
    {% for post in posts %}
        <li>
			<span>{{post["date"]}}</span>
        	<a href="{{post.link}}">{{post.title}}</a>
		</li>
    {% endfor %}
</ul>
{% endblock %}
