hr {
	border: none;
	border-top: 1px dotted #ccc;
}

.blog #container {
	background-image:url('../img/bg.png');
}

.blog .container-inner {
    max-width: 700px;
}

.container-inner {
	background: rgba(255,255,255, 0.8);
	padding:2em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.post {
	padding-top: 1em;
}

.post p ,
.post pre ,
.post blockquote ,
.post ul ,
.post ol {
	margin-bottom:1em;
}

.post ul ,
.post ol {
	margin-left: 2em;
}

.post pre {
	background:white;
	padding:0.5em;
}

.postmeta {
	text-align: right;
	font-size: 0.9em;
}

.postmeta span {
	display: none;
}

.postlist {
	list-style: none;
}

.postlist li {
	margin-bottom: 0.3em;
}
